*{
    margin: 0;
    padding: 0;
}

/* html, body{
    width: 100%;
    height: 100%;
} */

.slidewrapper{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /*khử thanh kéo */
}

.ndslide ul{
    position: relative;
}

.ndslide li{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* phóng to */
    opacity: 0;
}

.ndslide li.active{
    opacity: 1;
}

.slidewrapper .nutchuyen{
    position: absolute;
    bottom: 3%;
    z-index: 10;
    left: 50%;
    font-size: 50px;
    transform: translateX(-50%);
}

.nutchuyen b{
    color: wheat;
    font-size: 50px;
    cursor: pointer;
}

.nutchuyen b:hover{
    color: darkgoldenrod
}

/* .anslideNext{
    animation: anSlN 2s forwards;
    }
    @keyframes anSlN{
        from{ transform: scale(1); opacity: 1;}
        to{ transform: scale(2); opacity: 0;}
}
.hienslideNext{
    animation: hienSlN 2s forwards;
    }
    @keyframes hienSlN{
        from{ transform: scale(0.7); opacity: 0;}
        to{ transform: scale(1); opacity: 1;}
}

.anslidePrev{
    animation: anSlP 2s forwards;
    }
    @keyframes anSlP{
        from{ transform: scale(1); opacity: 1;}
        to{ transform: scale(0.7); opacity: 0;}
}
.hienslidePrev{
    animation: hienSlP 3s forwards;
    }
    @keyframes hienSlP{
        from{ transform: scale(2); opacity: 0;}
        to{ transform: scale(1); opacity: 1;}
} */

/* Hiệu ứng 2 */

/* .anslideNext{
    animation: anSlN 2s forwards;
    
    }
    @keyframes anSlN{
        from{ transform: translateX(0); opacity: 1;}
        to{ transform: translateX(100%); opacity: 0;}

    }
.hienslideNext{
    animation: hienSlN 2s forwards;
    }
    @keyframes hienSlN{
        from{ transform: translateX(-100%); opacity: 0;}
        to{ transform: translateX(0%); opacity: 1;}
    }
.anslidePrev{
    animation: anSlP 2s forwards;
    }
    @keyframes anSlP{
        from{ transform: translateX(0%); opacity: 1;}
        to{ transform: translateX(-100%); opacity: 0;}
    }
    .hienslidePrev{
    animation: hienSlP 2s forwards;
    }
    @keyframes hienSlP{
        from{ transform: translateX(100%); opacity: 0;}
        to{ transform: translateX(0); opacity: 1;}
    } */

/* Hiệu ứng 3 */
/* .anslideNext{
    animation: anSlN 2s forwards;
    }
    @keyframes anSlN{
        from{ transform: scale(1); opacity: 1;}
        to{ transform: scale(0.8); opacity: 1;}
    }
    .hienslideNext{
    animation: hienSlN 2s forwards;
    }
    @keyframes hienSlN{
        from{ transform: translateX(100%); opacity: 0;}
        to{ transform: translateX(0); opacity: 1;}
    }
    
    
    .anslidePrev{
    animation: anSlP 2s forwards;
    }
    @keyframes anSlP{
        from{ transform: translateX(0); opacity: 1;}
        to{ transform: translateX(100%); opacity: 0;}
    }
    .hienslidePrev{
    animation: hienSlP 3s forwards;
    }
    @keyframes hienSlP{
        from{ transform: scale(0.8); opacity: 1;}
        to{ transform: scale(1); opacity: 1;}
    } */

/* Hiệu ứng 4 */

/* .anslideNext{
    animation: anSlN 2s forwards;
    }
    @keyframes anSlN{
        from{ transform: translateX(0%) scale(1); opacity: 1;}
        to{ transform: translateX(100%) scale(0.9); opacity: 0;}
    }
    .hienslideNext{
    animation: hienSlN 2s forwards;
    }
    @keyframes hienSlN{
        from{ transform: rotateY(-65deg) translateX(-100%); opacity: 0; }
        to{  transform: rotateY(0) translateX(0%); opacity: 1; }
    }
    
    
    .anslidePrev{
    animation: anSlP 2s forwards;
    }
    @keyframes anSlP{
        from{ transform: translateX(0) rotateY(0); opacity: 1;}
        to{ transform: translateX(-100%) rotateY(-65deg); opacity: 0;}
    }
    .hienslidePrev{
    animation: hienSlP 2s forwards;
    }
    @keyframes hienSlP{
        from{ transform: translateX(100%) scale(0.9); opacity: 0;}
        to{ transform:translateX(0) scale(1); opacity: 1;}
    } */

/* Hiệu ứng 5 */

/* .anslideNext{
    animation: anSlN 2s forwards;
    }
    @keyframes anSlN{
        from{ z-index: 3;height: 100vh; opacity: 1;}
        to{ height: 0; z-index: 3;  opacity: 0;}
    }
    .hienslideNext{
    animation: hienSlN 2s forwards;
    }
    @keyframes hienSlN{
        from{  opacity: 0; height: 0;}
        to{  opacity: 1; height: 100vh; }
    }
    
    
    .anslidePrev{
    animation: anSlP 2s forwards;
    }
    @keyframes anSlP{
        
        from{  opacity: 1; }
        to{  opacity: 0; }
        
    }
    .hienslidePrev{
    animation: hienSlP 2s forwards;
    }
    @keyframes hienSlP{
        from{ height: 0; z-index: 4;  opacity: 0; }
        to{ z-index: 4;height: 100vh; opacity: 1;}
    } */

/* Hiệu ứng 6 */
/* .anslideNext{
    animation: anSlN 2s forwards;
    }
    @keyframes anSlN{
        from{  opacity: 1; }
        to{  opacity: 1; }
    }
    .hienslideNext{
    animation: hienSlN 2s forwards;
    }
    @keyframes hienSlN{
        from{width:0;  opacity: 1;z-index: 2;}
        to{width: 100vw;  opacity: 1; z-index: 2;}
    }
    
    
    .anslidePrev{
    animation: anSlP 2s forwards;
    }
    @keyframes anSlP{
        
        from{  opacity: 1; }
        to{  opacity: 1; }
        
    }
    .hienslidePrev{
    animation: hienSlP 2s forwards;
    }
    @keyframes hienSlP{
        from{ width: 100vw; z-index: 4;  opacity: 1; }
        to{ z-index: 4;width: 0; opacity: 1;}
    } */

/* Hiệu ứng 7 */
.anslideNext {
    animation: anSlN 2s forwards;
}

@keyframes anSlN {
    from {
        transform: translateY(0);
        z-index: 3;
    }
    to {
        transform: translateY(100%);
        z-index: 3;
    }
}

.hienslideNext {
    animation: hienSlN 2s forwards;
}

@keyframes hienSlN {
    from {
        transform: translateY(-80%);
        opacity: 1;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.anslidePrev {
    animation: anSlP 2s forwards;
}

@keyframes anSlP {
    to {
        transform: translateY(-40%);
        opacity: 1;
    }
    from {
        transform: translateY(0%);
        opacity: 1;
    }
}

.hienslidePrev {
    animation: hienSlP 2s forwards;
}

@keyframes hienSlP {
    to {
        transform: translateY(0%);
        opacity: 1;
        z-index: 3;
    }
    from {
        transform: translateY(100%);
        opacity: 1;
        z-index: 3;
    }
}
